<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold text-light" href="#"  style="width: 850px;">College Social Network</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-light"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">Stdents</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Message</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Post</a>
              </li>
            </ul>
        </li>
                <a class="nav-link text-light" href="#">Home</a>
                <a class="nav-link text-light" href="#">About</a>
                <a class="nav-link text-light" href="#">Contact Us</a>
                <a class="nav-link text-light" href="#">Profile</a>
            </div>
          </div>
        </div>
      </nav>
      <mat-list>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
    </mat-list>
    