<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class= " navbar-nav">
      <li class="nav-item">
        <a routerLink="/faculties" routerLinkActive="active" class="nav-link">Faculty List</a>
      </li>
  
      <li class="nav-item">
        <a routerLink="/create-faculty" routerLinkActive="active" class="nav-link">Add Faculty </a>
      </li>
    </ul>
  </nav>
  
  <div class = "container"> 
  <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="container">
      <span></span>
    </div>
  </footer>
