<section class="vh-100" style="background-image: url(/assets/image/collegeImage.jpg);">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-light" href="#"  style="width: 1070px;">College Social Network</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-light" href="#">About</a>
          <a class="nav-link text-light" href="#">Contact Us</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 150px;;">
    <button routerLink="/admin-login" routerLinkActiv="active" class="btn btn-dark" type="button">Admin Login</button>
    <button routerLink="/student-login" routerLinkActiv="active" class="btn btn-dark" type="button">Student Login</button>
    <button routerLink="/staff-login" routerLinkActiv="active" class="btn btn-dark" type="button">Staff Login</button>
    
  </div>
</section>